{
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

kaworu.kz {
    # HTTPS включается автоматически
    # Проксируем фронт (React)
    reverse_proxy frontend:3000

    # Проксируем API-запросы на Django backend
    reverse_proxy /api/* django_app:8000

    # (по желанию) добавь заголовки или логирование
}

