# FRONTEND (React)
kaworu.kz {
    reverse_proxy frontend:3000

    handle_path /ws* {
        reverse_proxy frontend:3000
    }

    header {
        Strict-Transport-Security "max-age=31536000;"
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }
}

# BACKEND (Django API)w
api.kaworu.kz {
    reverse_proxy backend:8000

    header {
        Strict-Transport-Security "max-age=31536000;"
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }
}